@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	outline: none;
	list-style: none;
}
::-webkit-scrollbar{
	width: 0;
}
h1{
	padding: 20px;
	color: #eee;
	background: #111;
}
h1 a{
	color: #eee;
}
.search{
	padding: 40px;
	display: flex;
	justify-content: center;
}
input{
	width: 500px;
	height: 50px;
	font-size: 18px;
	padding-left: 25px;
	border-radius: 10px;
	border: 1px solid #111;
	background: transparent;
	color: #111;
}
input::placeholder{
	color: #111;
}
button{
	color: #111;
	border: 1px solid #111;
	font-size: 18px;
	border-radius: 10px;
	transition: .5s;
	width: 200px;
	background: transparent;
	height: 50px;
	margin-left: 30px;
	cursor: pointer;
	text-transform: uppercase;
}
button:hover{
	color: #eee;
	background: #111;
}
ul{
	width: 90%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
li{
	display: flex;
	padding: 10px;
}
.number{
	width: 100px;
}
.name{
	width: 300px;
}
.email{
	width: 600px;
}
.phone{
	width: 250px;
}


.pagination{
    display: flex;
}